<section class="site-section" id="section-portfolio">
  <div class="container">
    <div class="row">
      <app-title
        class="col-md-12"
        plainText="Nuestros"
        emphasisText="Peinados"
      ></app-title>
    </div>
    <div class="filters">
      <ul>
        <li
          *ngFor="let item of categories"
          [ngClass]="{ active: item.active }"
          [attr.data-filter]="item.filter"
        >
          {{ item.name }}
        </li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row grid">
        <app-gallery-item
          class="col-sm-4"
          *ngFor="let item of items"
          [image]="item.image"
          [title]="item.title"
          [category]="item.category"
        ></app-gallery-item>
      </div>
    </div>
  </div>
</section>
