@import "../../../../styles/bootstrap/bootstrap.scss";
@import "../../../../styles/bootstrap/variables";
@import "../../../../styles/bootstrap/functions";
@import "../../../../styles/bootstrap/mixins";

.parent-nav-link-padding {
  padding: 15px 20px !important;
}

.site-navbar {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 20px;
  width: 100%;
  z-index: 200;
  background: $white;

  .navbar-brand {
    display: inline-block;
    border: 2px solid $white;
    padding: 5px 20px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    &:hover {
      color: $white;
    }
  }

  &.bg-light {
    background: transparent !important;
    @include media-breakpoint-down(md) {
      background: $white !important;
      top: 0;

      .navbar-brand {
        display: inline-block;
        font-size: 18px;
        border: 2px solid $black;
        padding: 2px 10px !important;
        color: $black;
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(lg) {
      // position: absolute;
      // right: 0;
    }
  }

  // main nav style
  .navbar-nav {
    > li {
      > a {
        @extend .parent-nav-link-padding;
        color: $white !important;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1em;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        @include media-breakpoint-down(md) {
          color: rgba(0, 0, 0, 0.7) !important;
        }
      }
    }
    &.active {
      > a {
        color: $primary !important;
      }
    }
  }

  &.scrolled {
    background: $white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(0%);

    &.bg-light {
      background: $white !important;
    }
    .navbar-brand {
      display: inline-block;
      font-size: 18px;
      border: 2px solid $black;
      padding: 2px 10px !important;
    }

    &.awake,
    &.sleep {
      transition: 0.3s all ease;
    }
    &.awake {
      transform: translateY(0%);
      background: $white !important;
    }
    &.sleep {
      transform: translateY(-100%);
      background: $primary !important;
    }
    .navbar-brand {
      color: $black;
    }
    .dropdown {
      > a {
        &:before {
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    .navbar-nav {
      > li {
        > a {
          color: rgba(0, 0, 0, 0.7) !important;
          &:hover {
            color: $primary !important;
          }
          &.active {
            color: $primary !important;
          }
        }
        &.active {
          > a {
            color: $primary !important;
          }
        }
      }
    }
  }
}
