@import "../../../styles/bootstrap/bootstrap.scss";
@import "../../../styles/bootstrap/functions";
@import "../../../styles/bootstrap/variables";
@import "../../../styles/bootstrap/mixins";

.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  h1 {
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
    strong {
      font-weight: 800;
    }
    @include media-breakpoint-up(md) {
      font-size: 70px;
    }
  }
  h1,
  .lead {
    font-weight: 200;
    color: $white;
  }
  h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 30px;
    strong {
      font-weight: 800;
    }
  }
  &.text-center {
    h2 {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
