<section class="site-section" id="section-contact">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>Opiniones de nuestros <strong>Clientes</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img
              src="images/person_1.jpg"
              alt="Image placeholder"
              class="img-fluid"
            />
          </div>
          <blockquote class="block-47-quote">
            <p>
              &ldquo;Morbi sit amet sapien a mi ultrices aliquam. Nunc bibendum
              sem tortor, sagittis sodales tortor mattis ut. Suspendisse
              venenatis in urna nec tincidunt. Aenean semper finibus risus a
              tempus. Nunc sed sapien pellentesque, tincidunt odio et, malesuada
              velit.&rdquo;
            </p>
            <cite class="block-47-quote-author"
              >&mdash; Marco Tulio Cicerón, Senador Romano <a href="#"> SPQR</a></cite
            >
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img
              src="images/person_2.jpg"
              alt="Image placeholder"
              class="img-fluid"
            />
          </div>
          <blockquote class="block-47-quote">
            <p>
              &ldquo;Morbi sit amet sapien a mi ultrices aliquam. Nunc bibendum
              sem tortor, sagittis sodales tortor mattis ut. Suspendisse
              venenatis in urna nec tincidunt. Aenean semper finibus risus a
              tempus. Nunc sed sapien pellentesque, tincidunt odio et, malesuada
              velit.&rdquo;
            </p>
            <cite class="block-47-quote-author"
              >&mdash; Marco Tulio Cicerón, Senador Romano <a href="#"> SPQR</a></cite
            >
          </blockquote>
        </div>
      </div>

      <div class="col-md-6">
        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img
              src="images/person_3.jpg"
              alt="Image placeholder"
              class="img-fluid"
            />
          </div>
          <blockquote class="block-47-quote">
            <p>
              &ldquo;Morbi sit amet sapien a mi ultrices aliquam. Nunc bibendum
              sem tortor, sagittis sodales tortor mattis ut. Suspendisse
              venenatis in urna nec tincidunt. Aenean semper finibus risus a
              tempus. Nunc sed sapien pellentesque, tincidunt odio et, malesuada
              velit.&rdquo;
            </p>
            <cite class="block-47-quote-author"
              >&mdash; Marco Tulio Cicerón, Senador Romano <a href="#"> SPQR</a></cite
            >
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img
              src="images/person_4.jpg"
              alt="Image placeholder"
              class="img-fluid"
            />
          </div>
          <blockquote class="block-47-quote">
            <p>
              &ldquo;Morbi sit amet sapien a mi ultrices aliquam. Nunc bibendum
              sem tortor, sagittis sodales tortor mattis ut. Suspendisse
              venenatis in urna nec tincidunt. Aenean semper finibus risus a
              tempus. Nunc sed sapien pellentesque, tincidunt odio et, malesuada
              velit.&rdquo;
            </p>
            <cite class="block-47-quote-author"
              >&mdash; Marco Tulio Cicerón, Senador Romano <a href="#"> SPQR</a></cite
            >
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
