<div class="mapouter">
  <div class="gmap_canvas">
    <iframe
      width="1140"
      height="500"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=salamanca&t=&z=19&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    ></iframe
    ><a href="https://fmovies-online.net"></a><br /><style>
      .mapouter {
        margin: 0 auto;
        /* position: relative;
        text-align: right; */
        height: 500px;
        width: 1140px;
      }</style
    ><a href="https://www.embedgooglemap.net">google maps iframe options</a
    ><style>
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 1140px;
      }
    </style>
  </div>
</div>
