<section class="site-section" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2>Nuestros <strong>Servicios</strong></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="blog-entry">
                    <a href="#"><img src="images/post_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="blog-entry-text">
                        <h3><a href="#">Corte de Pelo</a></h3>
                        <p class="mb-4">Mira nuestros precios</p>

                        <p><a href="#" class="site-link">Ver precios<i class="icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="blog-entry">
                    <a href="#"><img src="images/post_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="blog-entry-text">
                        <h3><a href="#">Estilismo</a></h3>
                        <p class="mb-4">Mira nuestros precios.</p>

                        <p><a href="#" class="site-link">Ver precios<i class="icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="blog-entry">
                    <a href="#"><img src="images/post_3.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="blog-entry-text">
                        <h3><a href="#">Belleza</a></h3>
                        <p class="mb-4">Mira nuestros precios.</p>

                        <p><a href="#" class="site-link">Ver precios<i class="icon-chevron-right"></i></a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

